@import "https://fonts.googleapis.com/css2?family=Fira+Code:wght@500;700&display=swap";

:root {
  --family: "Fira Code", monospace;
  --green: green;
  --red: red;
  --gray: gray;
  --lightgray: lightgray;
  --gainsboro: #dcdcdc;
  --white: #fff;
  --black: #000;
  --dark: #232323;
  --gray-dark: #383838;
  --darkgreen: #006400;
  --green-transslucent-20: rgba(0, 128, 0, 0.2);
  --red-transslucent-20: rgba(255, 0, 0, 0.2);
  --white-translucent-50: rgba(255, 255, 255, 0.5);
  --black-translucent-10: rgba(0, 0, 0, 0.1);
  --black-translucent-30: rgba(0, 0, 0, 0.3);
  --black-translucent-60: rgba(0, 0, 0, 0.6);
  --black-translucent-80: rgba(0, 0, 0, 0.8);
}

#action-container {
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
}

#action {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--white-translucent-50);
}

#answers > .answer {
  background-color: var(--black-translucent-10);
  border: 1px solid var(--white);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

#answers > .answer:hover {
  background-color: var(--lightgray);
  transition: background-color 0.25s linear;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -ms-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
}

#answers > .answer:hover > label::before {
  border-color: var(--gray);
  color: var(--white);
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
}

#popup {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 3px;
  padding: 30px 60px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.popup-body {
  margin-bottom: 3rem;
}

.popup-action {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#popup-container {
  background-color: var(--black-translucent-60);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

#quizform {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  min-height: 520px;
}

#question,
#answers {
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
}

#results {
  padding: 50px 0;
  text-align: center;
}

#results > p {
  margin: 0.6rem 0;
}

#submit {
  display: none;
}

#try-again, #check-your-answers {
  flex: unset;
}

#try-again {
  background-color: var(--gray-dark);
}

#try-again:hover {
  background-color: var(--dark);
}

* {
  font-family: var(--family);
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

body {
  color: var(--dark);
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

h1 {
  line-height: 2.6rem;
}

button {
  background-color: var(--green);
  border: none;
  border-radius: 3px;
  color: var(--white);
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  padding: 15px 20px;
  transition: background-color 0.25s linear;
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -ms-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

button:disabled {
  background-color: #555;
}

button:disabled:hover {
  background-color: #666;
}

button:hover {
  background-color: var(--darkgreen);
}

button:active {
  background-color: var(--black-translucent-80);
}

.cancel-button {
  background-color: var(--gray-dark);
}

.cancel-button:hover {
  background-color: var(--dark);
}

input {
  display: inline-block;
}

input[type="radio"],
input[type="checkbox"] {
  position: absolute;
  top: -9999px;
  visibility: hidden;
}

input[type="radio"],
input[type="checkbox"],
label {
  cursor: pointer;
}

input[type="radio"]:checked ~ label::after,
input[type="checkbox"]:checked ~ label::after {
  opacity: 1;
}

input[type="radio"]:checked ~ label::before,
input[type="checkbox"]:checked ~ label::before {
  border-color: var(--gray);
  color: var(--white);
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
}

label {
  display: inline-block;
  width: 100%;
  padding: 15px 20px;
  padding-left: 55px;
  position: relative;
  word-break: break-word;
}

label.multi::after {
  background-color: var(--green);
  border-radius: 100%;
  color: var(--white);
  content: "✔";
  font-size: 10px;
  line-height: 16px;
  width: 20px;
  height: 20px;
  opacity: 0;
  padding-right: 1px;
  text-align: center;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.25s linear;
  box-sizing: border-box;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -ms-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

label::after {
  background-color: var(--green);
  border-radius: 100%;
  content: "";
  width: 20px;
  height: 20px;
  opacity: 0;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.25s linear;
  border: 3px solid var(--white-translucent-50);
  box-sizing: border-box;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -ms-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

label::before {
  background-color: #e8e8e8;
  border: 2px solid #a9a9a9;
  border-radius: 100%;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  transition: all 0.25s linear;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
}

.score-container {
  padding-bottom: 20px;
}

.answers-container {
  margin-bottom: 20px;
}

.answer-element.wrong {
  background-color: var(--red-transslucent-20);
}

.answer-element.correct.selected {
  background-color: var(--green-transslucent-20);
}

.answer-element {
  position: relative;
  padding: 15px 15px 15px 40px;
  background-color: var(--gainsboro);
  border: 1px solid var(--white);
  border-radius: 3px;
  word-break: break-word;
}

.mark-container {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.answer-element.wrong .mark-container {
  color: var(--red);
}

.answer-element.correct .mark-container {
  color: var(--green);
}

.answer-comment {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  padding: 2px 10px;
  background-color: var(--black-translucent-10);
  color: var(--white);
  border-radius: 3px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.answer-element.correct {
  padding-right: 202px;
}

.answer-element.selected {
  padding-right: 169px;
}

.action {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-top: 80px;
}